*{
    margin: 0;
    padding: 0;
}

.titulo {
    background-color: #000000 ;
    color: white;
    display: flex;
    justify-content: space-around ;
    padding: 24px 0;
}

.titulo-item{
    font-size: 50px;
}

.sobre{
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: center;
    padding: 65px 65px;
}

.texto {
    font-size: 29px;
    text-align: center;
}